[defaults]
inventory = inventory/localhost.yml
roles_path = roles
filter_plugins = plugins/filter
retry_files_enabled = False
interpreter_python = auto_silent
stdout_callback = default

[privilege_escalation]
become = False
